.service-programme{
    &__title {
      z-index: 1;
    }
    &__title:before {
        content: "";
        width: 15.7rem;
        height: 127%;
        background-color: #f6f1eb;
        position: absolute;
        z-index: -1;
        top: -14%;
        left: 10%;
        transform: translateX(-50%);
    }
    &__blockquote{
      z-index: 1;
      top: 2.8rem;
      left: 33.2rem;
    }
    &__blockquote::before{
      content: "";
      background: url("../images/quote.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 2.8rem;
      height: 2.8rem;
      top: 1.3rem;
      left: 1.5rem;
      transform: rotate(180deg);
      z-index: -1;
      filter: invert(100%) sepia(49%) saturate(2838%) hue-rotate(173deg) brightness(104%) contrast(101%);
  }
  &__blockquote::after{
    content: "";
    background: url("../images/quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    bottom: 5%;
    transform: rotate(180deg);
    z-index: -1;
    filter: invert(100%) sepia(49%) saturate(2838%) hue-rotate(173deg) brightness(104%) contrast(101%);
  }
}
